<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add key="LogFile" value="C:\Users\a897235\OneDrive - Atos\Desktop\Check-CC-MAN.log"/>
	<add key="FolderToProcessFiles" value="C:\Users\a897235\OneDrive - Atos\Desktop\"/>
	<add key="FolderToBackupFiles" value="C:\Users\a897235\OneDrive - Atos\Desktop\Bkp\"/>	
	<add key="FileToProcess" value="BCFI48.CRDIF"/>
	<add key="SenderMail" value="IT-Monitoracao-AMS@volkswagen.com.br"/>
	<add key="ServerMail" value="10.135.3.6"/>
	<add key="RecipientMail1" value="rafael.gioffi@atos.net"/>
	<add key="RecipientMail2" value="isaias.barros@atos.net"/>
	<add key="RecipientMail3" value=""/>
	<add key="RecipientMail4" value=""/>
	<add key="RecipientMail5" value=""/>
	<add key="RecipientMail6" value=""/>
	<add key="RecipientMail7" value=""/>
	<add key="RecipientMail8" value=""/>
	<add key="RecipientMail9" value=""/>
	<add key="RecipientMail10" value=""/>
	<add key="SubjectMail" value=" - Monitoração Conta Corrente VW - CleanDNs 2.0"/>
	<add key="SignMail" value="C:\Atos\Rafael\MailAtosSign.png"/>
</configuration>